#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
.gameBoard {
  width: 500px;
  height: 500px;
  display: grid;
  grid-gap: .25em;
}

.cell {
  border: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.cell:empty {
  cursor: pointer;
}

.cell:empty:hover {
  background: whitesmoke;
}

.controls {
  margin-top: 1rem;
}

.controls > button {
  margin: 0 .5em;
  background: cadetblue;
  border: none;
  font-size: 2em;
  color: white;
  border-radius: 3px;
  width: 2em;
  height: 2em;
  cursor: pointer;
}

.controls > button:disabled {
  background: lightgray;
  color: gray;
  cursor: not-allowed;
}